 /* Background */
 .background {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: auto;
    height: 100vh;
    z-index: 2;
}
  
.hello-container {
    align-self: center;
    z-index: 1;
}

/* 'Hello I'm' for small screens (overlapped)*/
.hello-container.position-absolute {
    z-index: 1;
    top: 17vh;
    left: 0;
    font-size: 5rem;
    white-space: nowrap;
}

@media (max-width: 375px) {
    .hello-container.position-absolute {
      font-size: 4rem; /* smaller size for small screens */
      top: 10vh; /* adjust as per your preference */
    }
}

/* 'Hello I'm' for larger screens (no overlap)*/
.hello-container.d-none {
    writing-mode: vertical-rl;
    font-size: min(max(8rem, 10vw), 9rem);
    white-space: nowrap;
}
  
.hello {
    color: rgba(255, 255, 255, 0.199);
    font-family: 'AlbraBlack';
}
  
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

/* General Info */
.Title {
    font-size: 3.2rem;
    font-family: 'IsidoraSansAlt';
}  

.Title-Desc {
    font-family: 'AlbraBook-Light';
    font-size: 1.1rem;
    margin-inline-end: 35%;
}

/* Socials */
.social-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: ease-in-out .2s;
    fill: white;
}

.social-icon:hover {
    transform: scale(1.20);
    fill: rgb(54, 83, 224);
}
/* Button container */
.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid #ffffff;
}

/* About Me Button */
.tabs {
    background: transparent;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'IsidoraSansAlt', 'IsidoraSansAlt-Light';
    font-weight: 600;
    transition: ease-in-out .2s;
    margin-left: 10px;
}

.tabs .arrow path {
    fill: rgb(255, 255, 255);
    transition: ease-in-out .2s;
}

.tabs .arrow {
    width: 24px;
    height: 24px;
    vertical-align: center;
    margin-bottom: 2px;
    transition: transform .2s ease-in-out;
}

.tabs:hover .arrow {
    transform: translateX(10px);
}

.tabs:hover {
    color: rgb(54, 83, 224);
}

.tabs:hover .arrow path {
    fill: rgb(54, 83, 224);
    transition: ease-in-out .2s;
}

/* Define the animation on the clicked class */
.clicked {
    animation: pulse .6s ease-in-out;
    fill: currentColor;  /* SVG will inherit this color */
}

.tabs.clicked {
    animation: pulse .6s ease-in-out;
    color: currentColor;
}

.arrow.clicked path {
    animation: pulse .6s ease-in-out;
    fill: currentColor;
}

.button-text.clicked {
    animation: pulse .6s ease-in-out;
    color: currentColor;
}
  
/* Add a new keyframes animation for the pulse effect */
@keyframes pulse {
    0% {
      color: rgb(54, 83, 224);
      fill: rgb(54, 83, 224);
    }
    50% {
      color: rgb(22, 209, 237);
      fill: rgb(22, 209, 237);
    }
    100% {
        color: rgb(54, 83, 224);
        fill: rgb(54, 83, 224);
    }
  }
  
  /* Define the animation on the clicked class */
  .clicked {
    animation: pulse .6s ease-in-out;
    fill: currentColor;
}
  