 /* Background */
.background {
    /* Grid */
    background-color: #000000;
    background-image: 
        linear-gradient(0deg, transparent 99%, rgba(255, 255, 255, 0.20) 1%),
        linear-gradient(90deg, transparent 99%, rgb(255, 255, 255, 0.20) 1%);
    background-size: 90px 90px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
}

.background::after {
    /* Vignette */
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(circle at center, transparent, rgba(0, 0, 0, 0.799));
    pointer-events: none;
    z-index: 1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 2;
}
  
.hello-container {
    align-self: center;
    z-index: 1;
}

/* 'Hello I'm' for small screens (overlapped)*/
.hello-container.position-absolute {
    z-index: 1;
    top: -60px; 
    left: 0; 
    font-size: 5rem;
}

/* 'Hello I'm' for larger screens (no overlap)*/
.hello-container.d-none {
    writing-mode: vertical-rl;
    font-size: min(max(8rem, 10vw), 9rem);
}
  
.hello {
    color: rgba(255, 255, 255, 0.199);
    font-family: 'AlbraBlack';
}
  
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

/* General Info */
.Title {
    font-size: 3.2rem;
    font-family: 'IsidoraSansAlt';
}  

.Title-Desc {
    font-family: 'AlbraBook-Light';
    font-size: 1.1rem;
    margin-inline-end: 35%;
}

/* Socials */
.social-icon {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    margin-bottom: 20px;
    transition: ease-in-out .2s;
    fill: white;
}

.social-icon:hover {
    transform: scale(1.20);
    fill: rgb(54, 83, 224);
}
/* Button container */
.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-left: 1px solid #ffffff;
}

/* About Me Button */
.tabs {
    background: transparent;
    border: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'IsidoraSansAlt', 'IsidoraSansAlt-Light';
    font-weight: 600;
    transition: ease-in-out .2s;
    margin-left: 10px;
}

.tabs .arrow path {
    fill: rgb(255, 255, 255);
    transition: ease-in-out .2s;
}

.tabs .arrow {
    width: 24px;
    height: 24px;
    vertical-align: center;
    margin-bottom: 2px;
    transition: transform .2s ease-in-out;
}

.tabs:hover .arrow {
    transform: translateX(10px);
}

.tabs:hover {
    color: rgb(54, 83, 224);
}

.tabs:hover .arrow path {
    fill: rgb(54, 83, 224);
    transition: ease-in-out .2s;
}

/* Add a new keyframes animation for the pulse effect */
@keyframes pulse {
    0% {
      color: rgb(54, 83, 224);
      fill: rgb(54, 83, 224);
    }
    50% {
      color: rgb(255, 255, 255);
      fill: rgb(255, 255, 255);
    }
    100% {
        color: rgb(54, 83, 224);
        fill: rgb(54, 83, 224);
    }
  }
  
  /* Define the animation on the clicked class */
  .clicked {
    animation: pulse .6s ease-in-out;
    fill: currentColor;  /* SVG will inherit this color */
  }
  