.navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 17%;
    transform: translateY(-50%);
    background: none;
    z-index: 999;
    padding-right: 15rem;
}

.navbar-nav {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-link{
    color: #ffffff;
    text-decoration: none;
    font-family: 'IsidoraSansAlt';
    left: 20%;
}

.nav-link:hover,
.nav-link:focus {
    color: rgb(54, 83, 224);
}

