body {
  overflow-x: hidden;
}

.TitleProject {
  font-size: 4rem;
  font-family: 'IsidoraSansAlt';
  color: white;
  margin-top: 20vh;
  text-align: center;
}

.project-verticalText-side {
  position: fixed;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-size: 150px;  
  z-index: -1;  
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.2);
  font-family: 'AlbraBlack';
}

/* 'Hello I'm' for small screens (overlapped)*/
.project-verticalText-top{
  position: absolute;
  top: 16vh;
  left: 0px;
  font-size: 5rem; 
  z-index: -1;  
  white-space: nowrap;
  text-align: center;
  color: rgba(255, 255, 255, 0.15);
  font-family: 'AlbraBlack';
}

.row {
  max-width: 800px; /* Adjust this value to suit your design */
}

.project-card {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto; /* Vertically 20px margin and horizontally auto to center the card */
}

.project-image {
  position: relative;
  min-height: 210px;
  width: 360px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 15px;
}

.project-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.project-info {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0));
  width: 100%;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.project-card:hover .project-image img {
  transform: scale(1.1);
}

.project-card:hover .project-info {
  opacity: 1;
}

.project-title {
  font-family: 'IsidoraSansAlt';
  color: white;
  font-size: 2em;
  filter: drop-shadow(5px 5px 10px #000);
}

.project-description {
  font-family: 'AlbraBook-Light';
  font-size: 0.8em;
  filter: drop-shadow(5px 5px 10px #000);
}

@media (max-width: 821px) {
  .project-info {
    opacity: 1;
  }
}