body {
  overflow-x: hidden;
}

.TitleProject {
  font-size: 4rem;
  font-family: 'IsidoraSansAlt';
  color: white;
  margin-top: 20vh;
  text-align: center;
}

.project-verticalText-side {
  position: fixed;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  font-size: 150px;  
  z-index: -1;  
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.2);
  font-family: 'AlbraBlack';
}

/* 'Hello I'm' for small screens (overlapped)*/
.project-verticalText-top{
  position: absolute;
  top: 16vh;
  left: 0px;
  font-size: 5rem; 
  z-index: -1;  
  white-space: nowrap;
  text-align: center;
  color: rgba(255, 255, 255, 0.15);
  font-family: 'AlbraBlack';
}

.row {
  max-width: 800px; /* Adjust this value to suit your design */
}

.project-card {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px auto; /* Vertically 20px margin and horizontally auto to center the card */
}

.project-image {
  position: relative;
  min-height: 210px;
  width: 360px;
  overflow: hidden;
  margin-bottom: 10px;
  border-radius: 15px;
}

.project-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s;
}

.project-info {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0));
  width: 100%;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.5s;
}

.project-card:hover .project-image img {
  transform: scale(1.1);
}

.project-card:hover .project-info {
  opacity: 1;
}

.project-title {
  font-family: 'IsidoraSansAlt';
  color: white;
  font-size: 2em;
  filter: drop-shadow(5px 5px 10px #000);
  margin-bottom: 4px;
}

.project-description {
  font-family: 'AlbraBook-Light';
  font-size: 0.8em;
  filter: drop-shadow(5px 5px 10px #000);
  margin-bottom: 4px;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Change 'start' to 'flex-start' */
  gap:10px;
}

.project-tech {
  font-family: 'IsidoraSansAlt';
  font-size: .75rem;
  filter: drop-shadow(2px 2px 5px #000);
  background: rgba(255, 255, 255, 0.4);
  padding: 1px 8px;
  border-radius: 10px;
  margin-bottom: 4px;
}


@media (max-width: 821px) {
  .project-info {
    opacity: 1;
  }
}




.container{
  z-index: 1100;
}

.expanded-project {
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100%;
  background: rgb(42, 43, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  animation: slide-in-right 0.5s ease-out forwards;
}

.expanded-project img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 1em;
}

.expanded-project h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
  color: #333; /* dark gray */
}

.expanded-project p {
  font-size: 1.2em;
  color: #666; /* medium gray */
}

.expanded-project .project-tech {
  font-size: 1em;
  color: #999; /* light gray */
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  background-color: #eee; /* very light gray */
  padding: 0.2em 0.5em;
  border-radius: 0.3em;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.expanded-project.closing {
  animation: slide-out-right 0.5s ease-out forwards;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide-out-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.close-button {
  align-self: flex-end;
}
